@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     color: white;
}

.glassmorphism {
     background: rgba(0, 0, 0, 0.25);
     box-shadow: 0 8px 32px 0 rgba(9, 9, 9, 0.37);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
}

.rotate {
     animation: rotation 1s ease-in-out;
     -webkit-animation: rotation 1s ease-in-out infinite;
}

@keyframes rotation {
     0% {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
     }
}
